@CHARSET "UTF-8";
#left_nav {
    width:250px;
}
#body {
    width:90%;
    float:left;
    margin:10px;
}

div.content {
    margin: 0;
    padding:10px;
    font-size:.9em;
    line-height:1.5em;
    font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    padding-left: 4cm;
	padding-right: 4cm;
    padding-top: 4cm;
}